Client/Connected Services/CustomerServiceReference/CustomerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:60469/CustomerService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:60469/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60469/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomerService_GetCustomerRegular_InputMessage">
    <wsdl:part name="parameters" element="GetCustomerRegular" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerRegular_OutputMessage">
    <wsdl:part name="parameters" element="GetCustomerRegularResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerFallible_InputMessage">
    <wsdl:part name="parameters" element="GetCustomerFallible" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerFallible_OutputMessage">
    <wsdl:part name="parameters" element="GetCustomerFallibleResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerService">
    <wsdl:operation name="GetCustomerRegular">
      <wsdl:input wsaw:Action="urn:CustomerService/GetCustomerRegular" message="CustomerService_GetCustomerRegular_InputMessage" />
      <wsdl:output wsaw:Action="urn:CustomerService/GetCustomerRegularResponse" message="CustomerService_GetCustomerRegular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerFallible">
      <wsdl:input wsaw:Action="urn:CustomerService/GetCustomerFallible" message="CustomerService_GetCustomerFallible_InputMessage" />
      <wsdl:output wsaw:Action="urn:CustomerService/GetCustomerFallibleResponse" message="CustomerService_GetCustomerFallible_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="urn:CustomerService/UpdateCustomer" message="CustomerService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="urn:CustomerService/UpdateCustomerResponse" message="CustomerService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>